body * {
  transition: background 300ms ease-in-out 1ms;
}
body {
  margin-top: 244px;
}
body.home {
  margin-top: 0;
}
#made-with-love h2 {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  text-align: center;
}
#made-with-love h2::before,
#made-with-love h2::after {
  content: "-";
}
.sliderDesktop img, .sliderMobile img {
  width: 100vw;
  height: auto;
  display: block;
}
header a {
  color: $white !important;
}
header a.navbar-brand {
  background-image: url("../images/murau.typo.brown.png");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 120px;
  z-index: $zindex-fixed;
  background-size: contain;
  position: absolute;
  top: 45px;
}
header.fixed-top.scroll a.navbar-brand {
  background-image: url("../images/murau.typo.png");
  width: 85px;
  top: -16px;
  transition: all 300ms linear;
}
header a.murau-logo {
  text-indent: -9999px;
  overflow: hidden;
  background-image: url("../images/icon.white.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  opacity: 1;
  z-index: $zindex-fixed;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 300ms linear;
  transform: translate(0, 0);
}
header.fixed-top.scroll a.murau-logo {
  opacity: 0;
  height: 0;
  transform: translate(0, 100%);
}
header a.murau-logo:hover {
  animation: heartbeat 1s linear infinite;
}
header.mobile a.murau-logo {
  display: none;
}
header.mobile a.navbar-brand {
  top: -4px;
  left: 60px;
  background-image: url("../images/murau.typo.png") !important;
  width: 80px;
  background-size: contain;
}
header .category-menu > ul > li {
  transition: background-size 200ms linear;
  background-size: 0% 2px;
}
header .category-menu > ul > li:hover {
  background: linear-gradient(to bottom, transparent, $primary 0);
  background-size: 100% 2px;
  background-position: bottom;
  background-repeat: no-repeat;
}
header .main-menu i {
  font-size: 20px;
}
header a.nav-link {
  font-size: 1rem;
  text-shadow: 1px 1px $primary;
}
header #MainMenu a.nav-link {
  color: $primary !important;
  text-shadow: none !important;
}
header #searchBoxTop {
  height: 30px;
  overflow: hidden;
  width: 32px;
}
header #searchBoxTop:hover {
  width: 100%;
}
header #searchBoxTop input:focus {
  border-color: $white;
  box-shadow: none;
}
header #searchBoxTop input::placeholder {
  color: $light !important;
}
.shop-link {
  position: relative;
}
.shop-link .cartQtd {
  left: 10px;
  position: absolute;
  top: 5px;
}
#murauBackground .carousel-item {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.megamenu {
  position: static;
  transition: all 300ms linear;
}
.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
  margin-top: -10px;
}
.megamenu .dropdown-menu a {
  color: $primary !important;
  text-shadow: none !important;
}
.megamenu .dropdown-menu ul {
  column-count: 4;
}
.megamenu:hover .dropdown-menu {
  display: block;
}
.display-5 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.made-with-love a {
  background-position: center;
  background-size: 120%;
  left: 0;
  top: 0;
}
.made-with-love a:hover {
  background-position: center;
  background-size: 100%;
}
.made-with-love a div {
  background-color: rgba($secondary, 0.4);
  color: $white !important;
  font-size: 1.2em;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-shadow: 2px 1px $primary;
  text-transform: uppercase;
}
.made-with-love a:hover div {
  background-color: rgba($secondary, 0.8);
}
footer i {
  font-size: 32px;
}
footer a.logo-lets,
footer a.logo-vtex {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  font-size: 0;
  height: 50px;
  width: 100px;
}
footer a.logo-lets {
  background-image: url("../images/letsencrypt-logo.png");
}
footer a.logo-vtex {
  background-image: url("../images/vtex-logo.png");
}
.bread-crumb {
  margin-top: 20px;
}
.bread-crumb ul {
  list-style: none;
  padding: 0;
}
.bread-crumb ul li {
  display: inline;
  margin-right: 10px;
}
.bread-crumb ul li::after {
  content: "\/";
  margin: 5px;
}
.bread-crumb ul li,
.bread-crumb ul li a {
  color: $gray-500 !important;
  font-size: 0.9em;
  font-weight: normal;
}
.bread-crumb ul li a:hover {
  border-bottom: 1px solid $gray-500;
  color: $gray-500 !important;
  font-weight: normal;
}
.bread-crumb ul li.last::after {
  content: none;
}
.bread-crumb ul li.last,
.bread-crumb ul li.last a {
  font-weight: bold;
}
body.produto #show .sku-rich-image-main {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}
body.produto .display-4 {
  font-size: 3rem !important;
}
body.produto .productReference,
body.produto .skuReference {
  color: rgba($primary, 0.6);
  font-size: 0.8rem;
}
body.produto .productReference:before,
body.produto .skuReference:before {
  content: "Ref: ";
}
body.produto .preco-a-vista,
body.produto .economia-de {
  display: none !important;
}
body.produto .valor-por {
  font-size: 0;
}
body.produto .skuBestPrice {
  font-size: 3rem;
  font-weight: bolder;
}
body.produto .sku-selector-container ul {
  list-style: none !important;
  padding: 0;
}
body.produto .produto .select input {
  display: none;
}
body.produto .produto .select label {
  border: 1px solid $primary;
  cursor: pointer;
  margin-right: 6px;
  padding: 10px 0;
  text-align: center;
  width: 65px;
}
body.produto .produto .select label:last-child {
  margin-right: 0 !important;
}
body.produto .produto .select label:hover,
body.produto .produto .select label:focus,
body.produto .produto .select label.checked {
  background-color: $primary;
  color: $white;
}
body.produto .produto .select label.item_unavaliable {
  background: $gray-500;
  border-color: $gray-500;
  color: $white;
  opacity: 0.5;
  cursor: not-allowed;
}
body.produto .buy-button {
  background-color: $primary;
  border: 1px solid $white;
  color: $white !important;
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 20px;
  text-align: center;
}
body.produto .buy-button:hover,
body.produto .buy-button:focus {
  background-color: $secondary;
  border: 1px solid $primary;
}
body.produto .produto a {
  font-weight: normal !important;
}
body.produto .similar h2 {
  display: none;
}
body.produto .similar ul {
  list-style: none;
  padding: 0;
}
body.produto .similar ul li {
  display: inline;
}
body.produto .similar img {
  width: 70px;
  height: auto;
  border: 1px solid $gray-200;
}

body.produto .similar img:hover {
  opacity: 0.5;
}
@media only screen and (max-width: map-get($grid-breakpoints, "md")) {
  .megamenu .dropdown-menu ul {
    column-count: 1;
  }
  .navbar-nav {
    width: 100% !important;
  }
}
.zoomPad {
  cursor: crosshair;
  position: relative;
}
.zoomPreload,
.zoomPup,
.zoomWrapperTitle,
.zoomIframe {
  display: none !important;
}
.zoomWindow {
  background: $white;
  height: 100% !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
}
.zoomWrapper {
  height: 100% !important;
  width: 100% !important;
}
.zoomWrapperImage {
  height: 100% !important;
  overflow: hidden;
  position: relative;
  width: 100% !important;
}
.notifyme {
  padding: 25px;
  border: 5px dotted $secondary;
  text-align: center;
  margin: 0 0 15px;
}
.notifyme-form {
  margin: 5px 0 20px;
}
h3.notifymetitle {
  font-size: 125%;
  font-weight: bold;
  text-transform: uppercase;
}
.notifyme-form input[type="text"] {
  border: 0;
  border-bottom: 1px solid $primary;
  padding: 10px;
  outline: 0;
}
.notifyme-form input[type="button"] {
  background-color: $primary;
  border: 0;
  color: $white;
  padding: 10px;
  text-transform: uppercase;
}
.notifyme-error {
  color: $red;
}
#TB_window {
  background-color: $white !important;
  @include box-shadow($dropdown-box-shadow);
}
#TB_ajaxContent {
  padding: 20px !important;
  width: 100% !important;
}
#TB_ajaxContent .glis-ul {
  list-style: none;
  padding: 0;
}
#TB_ajaxContent .glis-li {
  background: $primary;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}
#TB_ajaxContent i.glis-li a {
  color: $white !important;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}
#TB_ajaxContent .glis-mylist {
  margin-top: 10px;
}
#TB_ajaxContent .glis-title {
  font-weight: bold;
}

.giftlist-insertsku-wrapper {
  font-size: 0;
  position: absolute;
  right: 28px;
  top: 14px;
  z-index: $zindex-dropdown;
}
.giftlist-insertsku-wrapper .glis-popup-link:hover,
.giftlist-insertsku-wrapper .glis-link:hover {
  text-decoration: none;
}
.giftlist-insertsku-wrapper .glis-popup-link:before,
.giftlist-insertsku-wrapper .glis-link:before {
  color: $white;
  background-color: $red;
  @include border-radius($rounded-pill);
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-size: 1.8rem;
  font-weight: 400;
  opacity: 0.5;
  padding: 10px 10px 8px;
  transition: all 300ms linear;
}
.giftlist-insertsku-wrapper .glis-popup-link:hover:before,
.giftlist-insertsku-wrapper .glis-link:hover:before {
  opacity: 0.8;
}
a#TB_closeWindowButton {
  font-size: 0;
}
a#TB_closeWindowButton:before {
  color: $primary;
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  opacity: 0.8;
}
#TB_ajaxWindowTitle {
  display: none;
}
#TB_title {
  position: absolute;
  right: 2px;
}
.glis-sku-default,
.glis-flash-quantity-added {
  display: none;
}
body.produto .produto .fb {
  left: 28px;
  position: absolute;
  top: 8px;
  z-index: $zindex-dropdown;
}
#caracteristicas th,
#caracteristicas td {
  display: block;
}
#ajaxBusy {
  align-items: center;
  background: $light;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1080;
}
#ajaxBusy p {
  animation: spin 1.2s linear infinite;
  @include border-radius($rounded-pill);
  border: 8px solid transparent;
  border-left-color: $primary;
  height: 50px;
  overflow: hidden;
  text-indent: -9999px;
  width: 50px;
}
.scroll-btn {
  bottom: 0;
  display: flex;
  margin: 0 auto;
  opacity: 1;
  position: fixed;
  transition: opacity 1ms ease-in-out;
}
.scroll .scroll-btn {
  opacity: 0 !important;
  display: none;
}
.scroll-btn .mouse {
  @include border-radius(24px);
  border: 2px solid $white;
  display: inline-block;
  height: 75px;
  margin: 0 auto 5px;
  opacity: 0.6;
  position: relative;
  width: 50px;
}
.scroll-btn .mouse span {
  animation: scroll 2s linear infinite;
  background: $white;
  @include border-radius(20px);
  display: block;
  height: 12px;
  left: 50%;
  margin: -10px 0 0 -4px;
  position: absolute;
  top: 0;
  width: 8px;
}
#searchBox .busca {
  background: $white;
  padding: 30px;
  position: relative;
}
#searchBox legend,
#searchBox label,
#searchBox select {
  display: none;
}
#searchBox input[type="text"] {
  border-bottom: 1px solid $primary !important;
  border: 0;
  color: $primary;
  font-weight: 600;
  outline: 0;
  padding-left: 45px !important;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}
#searchBox input[type="button"] {
  background: none;
  border: 0;
  height: 32px;
  left: 35px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  text-indent: -9999px;
  top: 35px;
  width: 32px;
}
#searchBox .busca:before {
  border: 0;
  bottom: 0;
  color: $primary;
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-size: 20px !important;
  font-weight: 900;
  left: 35px;
  padding: 5px;
  position: absolute;
  top: 35px;
}
#searchBox .close {
  color: $gray-500 !important;
  cursor: pointer;
  right: 30px;
  top: 15px;
}
ul.ui-autocomplete {
  background-color: $white;
  color: $secondary;
  left: 0 !important;
  list-style: none;
  padding: 0;
  position: fixed !important;
  top: 75px !important;
  width: 100% !important;
  @include box-shadow($dropdown-box-shadow);
}
ul.ui-autocomplete li.ui-menu-item {
  padding: 10px 30px;
  text-transform: uppercase;
}
.ui-autocomplete a {
  cursor: pointer;
  display: block;
  padding: 5px 0;
}
ul.ui-autocomplete li.ui-menu-item:hover {
  background: rgba($secondary, 0.1);
}
@keyframes heartbeat {
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes scroll {
  1% {
    opacity: 1;
    top: 30%;
  }
  20% {
    opacity: 1;
    top: 50%;
  }
  60% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 30%;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.mobile #searchBox {
  top: 0;
}
.mobile ul.ui-autocomplete {
  overflow: hidden;
  position: absolute !important;
  z-index: 1040 !important;
}
.prateleira h2 {
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
  margin-top: 30px;
}
body.home .prateleira h2 {
  margin-top: 0;
}
.prateleira h2:first-letter {
  font-size: 3rem;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 360px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px;
}
/* Left */
.modal.left.fade .modal-dialog {
  left: -360px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.show .modal-dialog {
  left: 0;
}
/* Right */
.modal.right.fade .modal-dialog {
  right: -360px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.show .modal-dialog {
  right: 0;
}
.modal-content {
  @include border-radius(0);
  border: none;
}
.modal-header {
  border-bottom-color: $gray-200;
  background-color: $gray-100;
}
.modal-content {
  width: 100% !important;
  border-collapse: collapse;
}
#murau-mini-cart .modal-content thead {
  display: none;
}
#murau-mini-cart .modal-content tr {
  border-bottom: 1px solid $gray-200;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
#murau-mini-cart .modal-content td {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  order: 0;
}
#murau-mini-cart .modal-content td.cartSkuImage {
  flex-basis: 20%;
}
#murau-mini-cart .modal-content td.cartSkuName {
  flex-basis: 70%;
  text-align: center;
  display: flex;
  align-items: center;
}
#murau-mini-cart .modal-content td.cartSkuActions {
  flex-basis: 5%;
}
#murau-mini-cart .modal-content td.cartSkuPrice {
  flex-basis: 100%;
  order: 1;
  text-align: center;
}
#murau-mini-cart .modal-content td.cartSkuQuantity {
  display: none;
}
#murau-mini-cart .modal-content img {
  max-width: 100% !important;
  height: auto;
}
#murau-mini-cart .modal-content td h4 a,
#murau-mini-cart .modal-content td h4 {
  line-height: 1;
  font-size: 1rem;
  color: $primary;
  margin: 0 auto;
}
#murau-mini-cart .modal-content .cartSkuUnitPrice {
  line-height: 1;
  color: $primary;
  font-weight: bold;
}
#murau-mini-cart .modal-content .cartSkuRemove a {
  display: block !important;
  font-size: 0;
}
#murau-mini-cart .modal-content .cartSkuRemove a::before {
  content: "x";
  text-indent: 0;
  display: block;
  font-size: 1rem;
  background: #4b2e28;
  text-align: center;
  color: #fff;
  @include border-radius(50rem);
  padding: 0px 10px 4px;
  font-weight: 300;
}
#murau-mini-cart .modal-content .cartTotal {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  text-transform: lowercase;
}
#murau-mini-cart .modal-content .cartTotal::before {
  content: "Sub-";
  text-transform: capitalize;
}
#murau-mini-cart .modal-content .vtexsc-totalCart {
  margin-left: 0;
  float: left;
  width: 100%;
  color: $primary;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.modal.right .close {
  font-size: 0.8rem;
  text-shadow: none;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: $zindex-modal;
}
#modalNewsletter .agradecimento span {
  font-family: Lobster, cursive;
  font-weight: 400;
}
#modalNewsletter .agradecimento .ir-para-o-site {
  margin-top: 20px;
  padding: 15px 30px;
  color: $white;
  background: $black;
  border: 0;
}
#modalNewsletter .agradecimento .ir-para-o-site:hover {
  text-decoration: underline;
}
#modalNewsletter .back-on-phone {
  background-image: url("https://lojamurau.vteximg.com.br/arquivos/popup.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  margin: -16px 0 -16px -1px;
}
[class*="prateleira"] ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;
  padding: 0;
}
[class*="prateleira"] ul li {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
[class*="prateleira"] ul li a {
  transition: all 300ms linear;
}
[class*="prateleira"] ul li a:hover {
  transform: scale(1.05);
}
[class*="prateleira"] ul li img {
  padding: $thumbnail-padding;
  background-color: $thumbnail-bg;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  @include border-radius($thumbnail-border-radius);
  @include box-shadow($thumbnail-box-shadow);
  width: 100%;
  // Keep them at most 100% wide
  @include img-fluid();
}
@media (min-width: map-get($grid-breakpoints, "md")) {
  [class*="prateleira"] ul li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: map-get($grid-breakpoints, "xl")) {
  [class*="prateleira"] ul li {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.resultado-busca-numero .value::after {
  content: " produtos encontrados";
}
.searchResultsTime,
.sub {
  margin: 20px 0;
  font-size: small;
  width: 50%;
  float: left;
}
.resultado-busca-filtro {
  text-align: right;
}
ul.pages {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
ul.pages li {
  padding: 13px 15px;
  font-size: 16px;
  color: $primary;
  margin: -1px 3px 0 3px;
  display: inline-block;
  vertical-align: top;
  line-height: 100%;
  height: 44px;
  background: transparent;
  border: 1px solid $gray-200;
}
ul.pages li.first::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid $primary;
}
ul.pages li.last::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid $primary;
}
ul.pages li.previous::before {
  content: "<";
  font-size: 18px !important;
  line-height: 100%;
}
ul.pages li.next::before {
  content: ">";
  font-size: 18px !important;
  line-height: 100%;
}
ul.pages li.previous,
ul.pages li.next {
  font-size: 0;
}
ul.pages li.pgEmpty {
  opacity: 0.5;
  cursor: default;
}
ul.pages li.page-number.pgCurrent {
  background: $primary;
  color: $white;
  border-color: rgba($primary, 0.2);
}
.menu-navegue,
.searchResultsTime:nth-of-type(2),
.sub:last-child,
ul.productClusterSearchableIds,
.pager.top,
.searchResultsTime .resultado-busca-termo,
.searchResultsTime .resultado-busca-tempo,
.resultado-busca-numero .label,
p.compare,
.filterBy,
.search-single-navigator h3,
.search-single-navigator h4 {
  display: none;
}
.pager.bottom {
  text-align: center;
}
.search-single-navigator ul {
  list-style: none;
  padding: 0;
}
.resultItemsWrapper {
  width: 100% !important;
  float: left;
}
.menu-departamento a {
  font-weight: normal;
}
.menu-departamento a:hover {
  text-decoration: underline;
}
.Atributos-Google,
.Informacoes-de-Medidas {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}
s.text-muted,
body.produto .skuListPrice {
  color: $gray-200 !important;
  position: relative;
  text-decoration: none;
}
s.text-muted::before,
body.produto .skuListPrice::before {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  top: 10px;
  left: 0;
  background-color: $red;
  box-sizing: border-box;
  transform: rotate(10deg);
}
body.produto .skuListPrice {
  font-size: 0.8rem;
  color: $primary !important;
}
body.produto .skuListPrice::before {
  top: 8px;
}
#toast-container.toast-bottom-center > div,
#toast-container.toast-top-center > div {
  width: 100% !important;
}
#toast-container > div:hover,
#toast-container > div {
  @include box-shadow($dropdown-box-shadow);
}
body.login {
  overflow: hidden;
}
#vtexIdUI-global-loader {
  z-index: 1080 !important;
  background-position: center !important;
}
#vtexIdContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.vtexIdUI-show-app {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
}
.vtexIdUI .btn-success {
  background-color: $primary !important;
  background-image: linear-gradient(to bottom, $primary, $secondary) !important;
}
.vtexIdUI .btn-success:hover,
.vtexIdUI .btn-success:focus,
.vtexIdUI .btn-success:active,
.vtexIdUI .btn-success.active,
.vtexIdUI .btn-success.disabled,
.vtexIdUI .btn-success[disabled] {
  background-color: $primary !important;
}
.vtexIdUI .btn-success:not(:disabled):not(.disabled):active,
.vtexIdUI .btn-success:not(:disabled):not(.disabled).active {
  background-color: $primary !important;
  border-color: $primary !important;
}
.vtexIdUI .vtexId-link,
.vtexIdUI a {
  color: $primary !important;
}
.navbar-toggler {
  outline: none !important;
  border: none;
  background: transparent !important;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler .icon-bar {
  background-color: $white;
  display: block;
  width: 22px;
  height: 2px;
  margin: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  opacity: 0.1;
  transition: all 300ms linear;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.2;
}
.carousel-control-prev {
  background-image: linear-gradient(to right, $primary, transparent);
}
.carousel-control-next {
  background-image: linear-gradient(to left, $primary, transparent);
}
.no-variations .link-guia {
  display: none;
}
.svg-top-control {
  height: 1rem;
}
.ajax-content-loader, .welcome {
  display: none;
}
.sliderDesktop .banner, .sliderMobile .banner {
  height: calc(100vh - 96px);
  max-height: 100%;
  width: 100%;
  background-position: center;
  background-size: 100%;
  transition: all 500ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderDesktop .banner:hover, .sliderMobile .banner:hover {
  background-size: 110% !important;
}